parameters:
	ignoreErrors:
		-
			message: '#^Access to an undefined static property static\(Jp7\\Interadmin\\BaseClassMap\)\:\:\$instance\.$#'
			identifier: staticProperty.notFound
			count: 2
			path: Jp7/Interadmin/BaseClassMap.php

		-
			message: '#^Access to undefined constant static\(Jp7\\Interadmin\\BaseClassMap\)\:\:CACHE_KEY\.$#'
			identifier: classConstant.notFound
			count: 3
			path: Jp7/Interadmin/BaseClassMap.php

		-
			message: '#^Access to undefined constant static\(Jp7\\Interadmin\\BaseClassMap\)\:\:CLASS_ATTRIBUTE\.$#'
			identifier: classConstant.notFound
			count: 1
			path: Jp7/Interadmin/BaseClassMap.php

		-
			message: '#^Access to an undefined property Jp7\\Interadmin\\FileRecord\:\:\$id\.$#'
			identifier: property.notFound
			count: 3
			path: Jp7/Interadmin/FileRecord.php

		-
			message: '#^Access to an undefined property Jp7\\Interadmin\\FileRecord\:\:\$id_arquivo\.$#'
			identifier: property.notFound
			count: 2
			path: Jp7/Interadmin/FileRecord.php

		-
			message: '#^Access to an undefined property Jp7\\Interadmin\\FileRecord\:\:\$id_tipo\.$#'
			identifier: property.notFound
			count: 4
			path: Jp7/Interadmin/FileRecord.php

		-
			message: '#^Access to an undefined property Jp7\\Interadmin\\FileRecord\:\:\$legenda\.$#'
			identifier: property.notFound
			count: 1
			path: Jp7/Interadmin/FileRecord.php

		-
			message: '#^Access to an undefined property Jp7\\Interadmin\\FileRecord\:\:\$nome\.$#'
			identifier: property.notFound
			count: 2
			path: Jp7/Interadmin/FileRecord.php

		-
			message: '#^Access to an undefined property Jp7\\Interadmin\\FileRecord\:\:\$parte\.$#'
			identifier: property.notFound
			count: 1
			path: Jp7/Interadmin/FileRecord.php

		-
			message: '#^Access to an undefined property Jp7\\Interadmin\\FileRecord\:\:\$url\.$#'
			identifier: property.notFound
			count: 14
			path: Jp7/Interadmin/FileRecord.php

		-
			message: '#^Access to an undefined property Jp7\\Interadmin\\FileRecord\:\:\$url_thumb\.$#'
			identifier: property.notFound
			count: 1
			path: Jp7/Interadmin/FileRecord.php

		-
			message: '#^Access to an undefined property Jp7\\Interadmin\\Log\:\:\$id\.$#'
			identifier: property.notFound
			count: 2
			path: Jp7/Interadmin/Log.php

		-
			message: '#^Access to an undefined property Jp7\\Interadmin\\Log\:\:\$id_tipo\.$#'
			identifier: property.notFound
			count: 2
			path: Jp7/Interadmin/Log.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: Jp7/Interadmin/Log.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 2
			path: Jp7/Interadmin/Query/BaseQuery.php

		-
			message: '#^Access to an undefined property Jp7\\Interadmin\\Record\:\:\$char_key\.$#'
			identifier: property.notFound
			count: 1
			path: Jp7/Interadmin/Record.php

		-
			message: '#^Access to an undefined property Jp7\\Interadmin\\Record\:\:\$date_expire\.$#'
			identifier: property.notFound
			count: 2
			path: Jp7/Interadmin/Record.php

		-
			message: '#^Access to an undefined property Jp7\\Interadmin\\Record\:\:\$date_modify\.$#'
			identifier: property.notFound
			count: 1
			path: Jp7/Interadmin/Record.php

		-
			message: '#^Access to an undefined property Jp7\\Interadmin\\Record\:\:\$date_publish\.$#'
			identifier: property.notFound
			count: 1
			path: Jp7/Interadmin/Record.php

		-
			message: '#^Access to an undefined property Jp7\\Interadmin\\Record\:\:\$deleted\.$#'
			identifier: property.notFound
			count: 1
			path: Jp7/Interadmin/Record.php

		-
			message: '#^Access to an undefined property Jp7\\Interadmin\\Record\:\:\$id\.$#'
			identifier: property.notFound
			count: 8
			path: Jp7/Interadmin/Record.php

		-
			message: '#^Access to an undefined property Jp7\\Interadmin\\Record\:\:\$id_slug\.$#'
			identifier: property.notFound
			count: 1
			path: Jp7/Interadmin/Record.php

		-
			message: '#^Access to an undefined property Jp7\\Interadmin\\Record\:\:\$id_tipo\.$#'
			identifier: property.notFound
			count: 2
			path: Jp7/Interadmin/Record.php

		-
			message: '#^Access to an undefined property Jp7\\Interadmin\\Record\:\:\$log\.$#'
			identifier: property.notFound
			count: 2
			path: Jp7/Interadmin/Record.php

		-
			message: '#^Access to an undefined property Jp7\\Interadmin\\Record\:\:\$parent_id\.$#'
			identifier: property.notFound
			count: 2
			path: Jp7/Interadmin/Record.php

		-
			message: '#^Access to an undefined property Jp7\\Interadmin\\Record\:\:\$parent_id_tipo\.$#'
			identifier: property.notFound
			count: 1
			path: Jp7/Interadmin/Record.php

		-
			message: '#^Access to an undefined property Jp7\\Interadmin\\Record\:\:\$publish\.$#'
			identifier: property.notFound
			count: 1
			path: Jp7/Interadmin/Record.php

		-
			message: '#^Access to an undefined property Jp7\\Interadmin\\Record\:\:\$varchar_key\.$#'
			identifier: property.notFound
			count: 3
			path: Jp7/Interadmin/Record.php

		-
			message: '#^Access to an undefined property Jp7\\Interadmin\\RecordAbstract\:\:\$deleted\.$#'
			identifier: property.notFound
			count: 2
			path: Jp7/Interadmin/RecordAbstract.php

		-
			message: '#^Access to an undefined property Jp7\\Interadmin\\Type\:\:\$campos\.$#'
			identifier: property.notFound
			count: 1
			path: Jp7/Interadmin/Type.php

		-
			message: '#^Access to an undefined property Jp7\\Interadmin\\Type\:\:\$class_tipo\.$#'
			identifier: property.notFound
			count: 2
			path: Jp7/Interadmin/Type.php

		-
			message: '#^Access to an undefined property Jp7\\Interadmin\\Type\:\:\$date_modify\.$#'
			identifier: property.notFound
			count: 1
			path: Jp7/Interadmin/Type.php

		-
			message: '#^Access to an undefined property Jp7\\Interadmin\\Type\:\:\$deleted_tipo\.$#'
			identifier: property.notFound
			count: 2
			path: Jp7/Interadmin/Type.php

		-
			message: '#^Access to an undefined property Jp7\\Interadmin\\Type\:\:\$id_slug\.$#'
			identifier: property.notFound
			count: 1
			path: Jp7/Interadmin/Type.php

		-
			message: '#^Access to an undefined property Jp7\\Interadmin\\Type\:\:\$id_tipo_string\.$#'
			identifier: property.notFound
			count: 1
			path: Jp7/Interadmin/Type.php

		-
			message: '#^Access to an undefined property Jp7\\Interadmin\\Type\:\:\$inherited\.$#'
			identifier: property.notFound
			count: 2
			path: Jp7/Interadmin/Type.php

		-
			message: '#^Access to an undefined property Jp7\\Interadmin\\Type\:\:\$language\.$#'
			identifier: property.notFound
			count: 1
			path: Jp7/Interadmin/Type.php

		-
			message: '#^Access to an undefined property Jp7\\Interadmin\\Type\:\:\$log\.$#'
			identifier: property.notFound
			count: 2
			path: Jp7/Interadmin/Type.php

		-
			message: '#^Access to an undefined property Jp7\\Interadmin\\Type\:\:\$model_id_tipo\.$#'
			identifier: property.notFound
			count: 2
			path: Jp7/Interadmin/Type.php

		-
			message: '#^Access to an undefined property Jp7\\Interadmin\\Type\:\:\$nome\.$#'
			identifier: property.notFound
			count: 4
			path: Jp7/Interadmin/Type.php

		-
			message: '#^Access to an undefined property Jp7\\Interadmin\\Type\:\:\$parent_id_tipo\.$#'
			identifier: property.notFound
			count: 1
			path: Jp7/Interadmin/Type.php
