parameters:
	ignoreErrors:
		-
			message: '#^Access to an undefined static property static\(Jp7\\InterAdmin\\BaseClassMap\)\:\:\$instance\.$#'
			identifier: staticProperty.notFound
			count: 2
			path: Jp7/InterAdmin/BaseClassMap.php

		-
			message: '#^Access to undefined constant static\(Jp7\\InterAdmin\\BaseClassMap\)\:\:CACHE_KEY\.$#'
			identifier: classConstant.notFound
			count: 3
			path: Jp7/InterAdmin/BaseClassMap.php

		-
			message: '#^Access to undefined constant static\(Jp7\\InterAdmin\\BaseClassMap\)\:\:CLASS_ATTRIBUTE\.$#'
			identifier: classConstant.notFound
			count: 1
			path: Jp7/InterAdmin/BaseClassMap.php

		-
			message: '#^Access to an undefined property Jp7\\InterAdmin\\FileRecord\:\:\$id\.$#'
			identifier: property.notFound
			count: 2
			path: Jp7/InterAdmin/FileRecord.php

		-
			message: '#^Access to an undefined property Jp7\\InterAdmin\\FileRecord\:\:\$file_id\.$#'
			identifier: property.notFound
			count: 2
			path: Jp7/InterAdmin/FileRecord.php

		-
			message: '#^Access to an undefined property Jp7\\InterAdmin\\FileRecord\:\:\$caption\.$#'
			identifier: property.notFound
			count: 1
			path: Jp7/InterAdmin/FileRecord.php

		-
			message: '#^Access to an undefined property Jp7\\InterAdmin\\FileRecord\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: Jp7/InterAdmin/FileRecord.php

		-
			message: '#^Access to an undefined property Jp7\\InterAdmin\\FileRecord\:\:\$type_id\.$#'
			identifier: property.notFound
			count: 3
			path: Jp7/InterAdmin/FileRecord.php

		-
			message: '#^Access to an undefined property Jp7\\InterAdmin\\FileRecord\:\:\$url\.$#'
			identifier: property.notFound
			count: 7
			path: Jp7/InterAdmin/FileRecord.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: Jp7/InterAdmin/Log.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 2
			path: Jp7/InterAdmin/Query/BaseQuery.php

		-
			message: '#^Access to an undefined property Jp7\\InterAdmin\\Record\:\:\$char_key\.$#'
			identifier: property.notFound
			count: 1
			path: Jp7/InterAdmin/Record.php

		-
			message: '#^Access to an undefined property Jp7\\InterAdmin\\Record\:\:\$date_expire\.$#'
			identifier: property.notFound
			count: 2
			path: Jp7/InterAdmin/Record.php

		-
			message: '#^Access to an undefined property Jp7\\InterAdmin\\Record\:\:\$date_modify\.$#'
			identifier: property.notFound
			count: 1
			path: Jp7/InterAdmin/Record.php

		-
			message: '#^Access to an undefined property Jp7\\InterAdmin\\Record\:\:\$date_publish\.$#'
			identifier: property.notFound
			count: 1
			path: Jp7/InterAdmin/Record.php

		-
			message: '#^Access to an undefined property Jp7\\InterAdmin\\Record\:\:\$deleted\.$#'
			identifier: property.notFound
			count: 1
			path: Jp7/InterAdmin/Record.php

		-
			message: '#^Access to an undefined property Jp7\\InterAdmin\\Record\:\:\$id\.$#'
			identifier: property.notFound
			count: 8
			path: Jp7/InterAdmin/Record.php

		-
			message: '#^Access to an undefined property Jp7\\InterAdmin\\Record\:\:\$id_slug\.$#'
			identifier: property.notFound
			count: 1
			path: Jp7/InterAdmin/Record.php

		-
			message: '#^Access to an undefined property Jp7\\InterAdmin\\Record\:\:\$log\.$#'
			identifier: property.notFound
			count: 2
			path: Jp7/InterAdmin/Record.php

		-
			message: '#^Access to an undefined property Jp7\\InterAdmin\\Record\:\:\$parent_id\.$#'
			identifier: property.notFound
			count: 2
			path: Jp7/InterAdmin/Record.php

		-
			message: '#^Access to an undefined property Jp7\\InterAdmin\\Record\:\:\$parent_type_id\.$#'
			identifier: property.notFound
			count: 1
			path: Jp7/InterAdmin/Record.php

		-
			message: '#^Access to an undefined property Jp7\\InterAdmin\\Record\:\:\$publish\.$#'
			identifier: property.notFound
			count: 1
			path: Jp7/InterAdmin/Record.php

		-
			message: '#^Access to an undefined property Jp7\\InterAdmin\\Record\:\:\$type_id\.$#'
			identifier: property.notFound
			count: 2
			path: Jp7/InterAdmin/Record.php

		-
			message: '#^Access to an undefined property Jp7\\InterAdmin\\Record\:\:\$varchar_key\.$#'
			identifier: property.notFound
			count: 3
			path: Jp7/InterAdmin/Record.php

		-
			message: '#^Access to an undefined property Jp7\\InterAdmin\\RecordAbstract\:\:\$deleted\.$#'
			identifier: property.notFound
			count: 2
			path: Jp7/InterAdmin/RecordAbstract.php

		-
			message: '#^Access to an undefined property Jp7\\InterAdmin\\Type\:\:\$class_type\.$#'
			identifier: property.notFound
			count: 2
			path: Jp7/InterAdmin/Type.php

		-
			message: '#^Access to an undefined property Jp7\\InterAdmin\\Type\:\:\$date_modify\.$#'
			identifier: property.notFound
			count: 1
			path: Jp7/InterAdmin/Type.php

		-
			message: '#^Access to an undefined property Jp7\\InterAdmin\\Type\:\:\$fields\.$#'
			identifier: property.notFound
			count: 1
			path: Jp7/InterAdmin/Type.php

		-
			message: '#^Access to an undefined property Jp7\\InterAdmin\\Type\:\:\$id_slug\.$#'
			identifier: property.notFound
			count: 1
			path: Jp7/InterAdmin/Type.php

		-
			message: '#^Access to an undefined property Jp7\\InterAdmin\\Type\:\:\$inherited\.$#'
			identifier: property.notFound
			count: 2
			path: Jp7/InterAdmin/Type.php

		-
			message: '#^Access to an undefined property Jp7\\InterAdmin\\Type\:\:\$language\.$#'
			identifier: property.notFound
			count: 1
			path: Jp7/InterAdmin/Type.php

		-
			message: '#^Access to an undefined property Jp7\\InterAdmin\\Type\:\:\$log\.$#'
			identifier: property.notFound
			count: 2
			path: Jp7/InterAdmin/Type.php

		-
			message: '#^Access to an undefined property Jp7\\InterAdmin\\Type\:\:\$model_type_id\.$#'
			identifier: property.notFound
			count: 2
			path: Jp7/InterAdmin/Type.php

		-
			message: '#^Access to an undefined property Jp7\\InterAdmin\\Type\:\:\$name\.$#'
			identifier: property.notFound
			count: 4
			path: Jp7/InterAdmin/Type.php

		-
			message: '#^Access to an undefined property Jp7\\InterAdmin\\Type\:\:\$parent_type_id\.$#'
			identifier: property.notFound
			count: 1
			path: Jp7/InterAdmin/Type.php

		-
			message: '#^Access to an undefined property Jp7\\InterAdmin\\Type\:\:\$type_id_string\.$#'
			identifier: property.notFound
			count: 1
			path: Jp7/InterAdmin/Type.php
